body {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    padding: 5em 0 5em 0;
    font-family: Courier New;
}

@media only screen and (max-width: 600px) {
    body {
        width: 95%;
    }
}

button {
    font-size: 1em;
    border: 0.1em solid;
    padding: 0.3em 0.4em 0.3em 0.4em;
    background:white;
    margin: 0.2em;
    font-family: Courier New;
}

h3 {
    font-size: 1.5em;
	line-height: 0em;
}
h1 {
    font-size: 2em;
}



a {
    text-decoration: none;
}

pre {
    font-size: 1.5em;
    white-space:pre-wrap;
    padding: 0em 1em 0em 1em;
}

textarea {
    font-size: 1.5em;
    width: 100%;
    max-width: 900px;
    margin: 0 0 1em 0;
    padding: 1em 1em 1em 1em;
}

.createroom {
text-align: center;
padding: 1em 1em 1em 1em;
}


h4, .whitebox {
    padding: 0.5em;
}

.greybox {
    text-align: center;
    padding: 0.2em 1em 0.2em 1em;
    text-decoration: underline;
}

form {
    display: inline;
}

.collapsible {
width: 100%;
cursor: pointer;
}

.collapsible:hover {
cursor: pointer;
background: #EEEEEE;
}

.content {
    display: none;
    overflow: hidden;
    font-size: 1.2em;
}



@media(max-width: 1000px) {
    button {
        font-size: 3em;
        margin: 0.1em;
        border: 0.05em solid;
    }

    h3 {
        font-size: 4em;
    }

    h1 {
        font-size: 5em;
    }

   .createroom {
        font-size: 3.7em;
    }

    .collapsible {
        font-size: 1em;
    }
}
